@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000D33;
  background-image: url('https://res.cloudinary.com/dleicsu2y/image/upload/v1603998053/hertility-task/Background_1_ikfzfk.png');
  color: #FFFFFF;
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-style: normal;
  line-height: 15px;
  }

  .container {
  width: 100%;
}


header {
  color: #0F2135;
  background-color: white;
  max-width: 100%;
  height: 70px;
  align-items: center;
}

.logo {
  background: url('https://res.cloudinary.com/dleicsu2y/image/upload/v1603893337/hertility-task/hertility-logo_t36ys2.png')no-repeat center center;
  background-position: cover;
  max-width: 217px;
  height:57px;
  width: 30vw;
  padding-left: 1px;
  position: absolute;
}

nav {
  display:flex;
  justify-content: space-between;
  padding-left: 220px;
  align-items: center;
  flex-wrap: wrap;
  max-width:

}


nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  }
  nav ul li {
    padding-left: 18px;
    padding-top: 10px;
  }
  nav ul a {
    display:block;
  }
      nav img {
        max-width: 35px;
        max-height: 31px;
        padding: 3px;
        margin-left: 25px;
      }

.title {
 text-align: center;
}

.title h1 {
  font-family: 'Baloo Tammudu 2', cursive;
  padding-top: 80px;
}


.categories {
  display:flex;

}
  .categories li{
    list-style: none;
  }

    .categories a{
      display: block;
      color: white;
      text-decoration: none;
      text-align: center;
      padding-top: 30px;
}
        .categories a img{
          max-width:100px;
          max-height:144.5px;
         }

.term-cards {
  margin:15px;
  padding-top: 25px;
  max-width: 1612px;
  height: 380px;
  display: flex;

}
.card {
  margin:15px;
  padding: 15px;
  max-width: 508px;
  height: 380px;
  background-color: white;
  border-radius: 6px;
}

  .card h1{
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: #FA4550;
    padding-top: 0px;
    padding-bottom: 15px;
    text-align: left;

  }

  .card p{
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: #000C33;
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    font-weight: 100;
    text-align: left;
  }
footer {
  max-width: 1920px;
  margin-top:80px;
  padding: 10px;
  background-color: white;
  margin-left: 0px;
}

.footer-top{
  max-width: 1920px;
  display: inline-flex;
  padding:10px;

}
.hhlogo3 {
  background: url('https://res.cloudinary.com/dleicsu2y/image/upload/v1603917308/hertility-task/HH_Logo_3_lpnw4p.png')no-repeat center center;
  max-width :42.04px;
  height: 40.98px;
  padding: 40px;
  margin:0;

}
.pages {
  color: #000c33;
  display: flex;
  justify-content: space-around;

}
nav.pages{
  padding-left: 40px;

}

.pages ul {
  list-style: none;
  display:flex;
}
.footer-main{
  display: flex;
  justify-content: space-between;

}
.card-news {
  color: #000c33;
  font-size: 8px;
  padding:15px;
  padding-left: 40px;
}

.card-news input{
  padding: 10px;
  border:none;
  border-bottom: solid 1px black;
}
#submit img{
  max-width: 62.5px;
  max-height: 80px;
}

.socialmedia {
  color: #000c33;
  font-size: 8px;
  padding:15px;
  padding-right: 40px;
  text-align: center
}
  .socialmedia ul {
    list-style: none;
    display:flex;

    }
    .socialmedia a {
     display: block;
    }

    .socialmedia a img{
      max-width: 62.5px;
      max-height: 80px:
      }
.footer-bottom{
  color: #000c33;
  font-size: 8px;
}
  .footer-bottom ul {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
  }

  .footer-bottom li {
      display:inline;
    }

