@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000D33;
  color: #FFFFFF;
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-style: normal;
  line-height: 15px;
  }

  h1 {
    font-family: 'Baloo Tammudu 2', cursive;
    padding-top: 108px;
  }

.container{
  width: 100%;
  text-align: center;
}

header {
  color: #0F2135;
  background-color: white;
  display: flex;
  width: 1920px;
  height: 70px;
  display: flex;
  align-items: center;
}

.logo {
  background: url('https://res.cloudinary.com/dleicsu2y/image/upload/v1603893337/hertility-task/hertility-logo_t36ys2.png')no-repeat center center;
  background-position: cover;
  max-width: 217px;
  height:57px;
  width: 30vw;
  padding-left: 1px;
}

nav {
  width: 65vw;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  }
  nav ul li {
    padding-left: 18px;
    padding-top: 10px;
  }
  nav ul a {
    display:block;
  }

aside {
  width: 5vw;
}

  aside ul {
   list-style: none;
   display: flex;
   justify-content: flex-end;
  }

    aside ul li {
     padding-left: 10px;
     padding-top: 10px;
}

.categories {
  display:flex;

}
  .categories li{
    list-style: none;
  }

    .categories a{
      display:block;
}

.term-cards {
  margin:15px;
  padding-top: 25px;
  max-width: 1612px;
  height: 380px;
  display: flex;

}
.card {
  margin:15px;
  padding: 15px;
  max-width: 508px;
  height: 380px;
  background-color: white;
}

  .card h1{
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: #FA4550;
    padding-top: 0px;
    padding-bottom: 15px;
    text-align: left;

  }

  .card p{
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: #000C33;
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    font-weight: 100;
    text-align: left;
  }
